nav img{
    width:50px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(theater.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.menues{
    text-align: center;
    padding:25px;
}
nav img{
    width : 150px;
  }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 800;
  }